body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

img{
    position: relative;

}

h1{
    position: absolute;
    left: 50%;                      
    top: 5%; 
    transform: translate(-50%,-50%);

}

#info{
    position: absolute;  
    left: 50%;                     
    top: 25%;                         
    transform: translate(-50%, -50%);
}

#info label {
    color:white;

}

#info input{
    background-color: wheat;
    font-weight: bold;
}

#info p {
    background-color: wheat;
    color: black;
   
}

#button{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}
    
    
#results{
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
}   



#results textarea{
    resize: none;
    opacity: 0.7;
    font-style: italic;
    
}

.error{
    background-color:red
}


